/*
font-family: 'Oswald', sans-serif; LIKED FOR BOTH
font-family: 'Anton', sans-serif; FOR NAV
*/

a {
  font-weight: bold;
}
/* unvisited link */
a:link {
    color: #292b2c;
}
/* visited link */
a:visited {
    color: #292b2c;
}
/* mouse over link */
a:hover {
    color: #292b2c;
}
/* selected link */
a:active {
    color: #292b2c;
}

.navigation_options {
  font-family: 'Anton', sans-serif;
}

p, figure, figcaption {
  font-family: 'Oswald', sans-serif;
}

hr {
  background-color: #292b2c;
}

p {
  color: #292b2c;
  font-size: 26px;
}

figcaption {
  color: #292b2c;
}

h3 {
  font-family: 'Rammetto One', cursive;
  font-size: 5vw;
}

.splash_text_margin {
  margin-top: 29vh;
}

.header_text {
  font-family: 'Rammetto One', cursive;
  font-size: 12vw;
  letter-spacing: 10vw;
  margin-left: 7vw;
}

.header_text_paintings {
  font-family: 'Rammetto One', cursive;
  font-size: 7vw;
  letter-spacing: 5vw;
  margin-bottom: 5vw;
  margin-left: 7vw;
}

.sub_header_text_paintings {
  font-family: 'Rammetto One', cursive;
  font-size: 2vw;
  letter-spacing: 3vw;
  margin-bottom: 3vw;
  margin-left: 5vw;
}

.past_works_text_paintings {
  margin-top: 4vw;
}

.navigation_section_index {
  padding-bottom: 10vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;
}

.navigation_section {
  padding-bottom: 3vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;
}

.profile_pic {
  border-radius: 100%;
  max-width: 30vw;
  min-width: 300px
}

.homepage_pics {
  max-width: 33vw;
  min-width: 340px
}

.homepage_section {
  padding: 10vw;
}

.content_section {
  height: 100vh;
}

.break_pic {
  width: 75vw;
}

.linear_gradient {
  background:
      linear-gradient(217deg, rgba(0,173,94,.8), rgba(0,173,94,0) 70.71%),
      linear-gradient(127deg, rgba(249,238,6,.8), rgba(249,238,6,0) 70.71%),
      linear-gradient(336deg, rgba(242,41,57,.8), rgba(242,41,57,0) 70.71%);
}

.footer_section {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vw;
}

.footer_text {
  font-size: 12px;
}

.parallax_img {
  background-attachment: fixed;
  background-image: url("../imgs//homepage/Main_Page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.safari_parallax_img{
  background-size: contain;
}
.parallax_img_top {
  background-position: center top;
  height: 100vh;
}
.parallax_img_center_1 {
  background-position: center top;
  height: 45vh;
}
.parallax_img_center_2 {
  background-position: center center;
  height: 45vh;
}
.parallax_img_center_3 {
  background-position: center bottom;
  height: 45vh;
}
.parallax_img_bottom {
  background-position: center bottom;
  height: 18vh;
}



.tagline_text_1 {
  font-family: 'Rammetto One', cursive;
  font-size: 3vw;
  margin-top: 3vw;
}

.tagline_text_2 {
  font-family: 'Rammetto One', cursive;
  font-size: 3vw;
  margin-bottom: 2vw;
}

.painting_gallery {
  margin-bottom: 3vw;
  padding: 2vw;
  width: 33vw;
}

.painting_gallery_double {
  margin-bottom: 3vw;
  padding: 2vw;
  width: 50vw;
}

.painting_gallery_break {
  margin-bottom: 3vw;
  padding: 2vw;
  width: 99vw;
}

.metal_bug {
  border-radius: 100%;
}

@media only screen and (max-width: 575px) {
  .painting_gallery {
    width: 100vw;
  }
}
